serviciow.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:soap-enc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:soap-env="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://dwes.com/tarea09" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://dwes.com/tarea09">
    <wsdl:types>
        <xsd:schema targetNamespace="http://dwes.com/tarea09"/>
    </wsdl:types>
    <wsdl:message name="getPVPRequest">
        <wsdl:part name="codigo" type="xsd:string"/>
    </wsdl:message>
    <wsdl:message name="getPVPResponse">
        <wsdl:part name="getPVPReturn" type="xsd:int"/>
    </wsdl:message>
    <wsdl:message name="getStockRequest">
        <wsdl:part name="codigo" type="xsd:string"/>
        <wsdl:part name="codTienda" type="xsd:int"/>
    </wsdl:message>
    <wsdl:message name="getStockResponse">
        <wsdl:part name="getStockReturn" type="xsd:int"/>
    </wsdl:message>
    <wsdl:message name="getFamiliasRequest"/>
    <wsdl:message name="getFamiliasResponse">
        <wsdl:part name="getFamiliasReturn" type="soap-enc:array"/>
    </wsdl:message>
    <wsdl:message name="getProductosFamiliaRequest">
        <wsdl:part name="codFamilia" type="xsd:string"/>
    </wsdl:message>
    <wsdl:message name="getProductosFamiliaResponse">
        <wsdl:part name="getProductosFamiliaReturn" type="soap-enc:array"/>
    </wsdl:message>
    <wsdl:message name="insertaProductosRequest">
        <wsdl:part name="codigo" type="xsd:string"/>
        <wsdl:part name="nombre" type="xsd:string"/>
        <wsdl:part name="nombre_corto" type="xsd:string"/>
        <wsdl:part name="descripcion" type="xsd:string"/>
        <wsdl:part name="pvp" type="xsd:float"/>
        <wsdl:part name="familia" type="xsd:string"/>
    </wsdl:message>
    <wsdl:message name="insertaProductosResponse"/>
    <wsdl:portType name="ProductosPortType">
        <wsdl:operation name="getPVP">
            <wsdl:documentation>Obtiene el precio de un producto a partir de un código de producto</wsdl:documentation>
            <wsdl:input message="tns:getPVPRequest"/>
            <wsdl:output message="tns:getPVPResponse"/>
        </wsdl:operation>
        <wsdl:operation name="getStock">
            <wsdl:documentation>Obtiene el stock de un producto en una tienda en concreto</wsdl:documentation>
            <wsdl:input message="tns:getStockRequest"/>
            <wsdl:output message="tns:getStockResponse"/>
        </wsdl:operation>
        <wsdl:operation name="getFamilias">
            <wsdl:documentation>obtiene un array con las familias</wsdl:documentation>
            <wsdl:input message="tns:getFamiliasRequest"/>
            <wsdl:output message="tns:getFamiliasResponse"/>
        </wsdl:operation>
        <wsdl:operation name="getProductosFamilia">
            <wsdl:documentation>Obtiene los productos de una familia</wsdl:documentation>
            <wsdl:input message="tns:getProductosFamiliaRequest"/>
            <wsdl:output message="tns:getProductosFamiliaResponse"/>
        </wsdl:operation>
        <wsdl:operation name="insertaProductos">
            <wsdl:documentation>Inserta los datos de productos en una tabla</wsdl:documentation>
            <wsdl:input message="tns:insertaProductosRequest"/>
            <wsdl:output message="tns:insertaProductosResponse"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="ProductosBinding" type="tns:ProductosPortType">
        <soap-env:binding xmlns="http://schemas.xmlsoap.org/wsdl/soap/" style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="getPVP">
            <soap-env:operation xmlns="http://schemas.xmlsoap.org/wsdl/soap/" soapAction="http://dwes.com/tarea09/serviciow.php?method=getPVP" style="rpc"/>
            <wsdl:input>
                <soap-env:body xmlns="http://schemas.xmlsoap.org/wsdl/soap/" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
            </wsdl:input>
            <wsdl:output>
                <soap-env:body xmlns="http://schemas.xmlsoap.org/wsdl/soap/" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getStock">
            <soap-env:operation xmlns="http://schemas.xmlsoap.org/wsdl/soap/" soapAction="http://dwes.com/tarea09/serviciow.php?method=getStock" style="rpc"/>
            <wsdl:input>
                <soap-env:body xmlns="http://schemas.xmlsoap.org/wsdl/soap/" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
            </wsdl:input>
            <wsdl:output>
                <soap-env:body xmlns="http://schemas.xmlsoap.org/wsdl/soap/" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getFamilias">
            <soap-env:operation xmlns="http://schemas.xmlsoap.org/wsdl/soap/" soapAction="http://dwes.com/tarea09/serviciow.php?method=getFamilias" style="rpc"/>
            <wsdl:input>
                <soap-env:body xmlns="http://schemas.xmlsoap.org/wsdl/soap/" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
            </wsdl:input>
            <wsdl:output>
                <soap-env:body xmlns="http://schemas.xmlsoap.org/wsdl/soap/" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getProductosFamilia">
            <soap-env:operation xmlns="http://schemas.xmlsoap.org/wsdl/soap/" soapAction="http://dwes.com/tarea09/serviciow.php?method=getProductosFamilia" style="rpc"/>
            <wsdl:input>
                <soap-env:body xmlns="http://schemas.xmlsoap.org/wsdl/soap/" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
            </wsdl:input>
            <wsdl:output>
                <soap-env:body xmlns="http://schemas.xmlsoap.org/wsdl/soap/" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="insertaProductos">
            <soap-env:operation xmlns="http://schemas.xmlsoap.org/wsdl/soap/" soapAction="http://dwes.com/tarea09/serviciow.php?method=insertaProductos" style="rpc"/>
            <wsdl:input>
                <soap-env:body xmlns="http://schemas.xmlsoap.org/wsdl/soap/" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
            </wsdl:input>
            <wsdl:output>
                <soap-env:body xmlns="http://schemas.xmlsoap.org/wsdl/soap/" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="Productos">
        <wsdl:documentation>Description of servicio</wsdl:documentation>
        <wsdl:port name="ProductosPort" binding="tns:ProductosBinding">
            <soap-env:address location="http://dwes.com/tarea09/serviciow.php"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>